<!-- libraries -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">
<link href='http://fonts.googleapis.com/css?family=Alegreya+SC:400,400italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Alegreya:400,400italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600' rel='stylesheet' type='text/css'>

<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">

<!-- custom CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">