<ol>
  {% for item in tree %}
    <li>

        {% if item.path %}
            <a href="{{ include.param }}{{ item.path }}">{{ item.name }}</a>
        {% else %}
            {{ item.name }}
        {% endif %}
        
        {% if item.chapters %}
                {% capture parent_path %}{{ include.param }}{{ item.path }}{% endcapture %}
                {% assign tree = item.chapters %}
                {% include tree.html param=parent_path %}
        {% endif %}
    </li>
  {% endfor %}
</ol>
