---
layout: default
---

<div class="article">
    
    <h1>{{ page.title }}</h1>
    
    <div class="entry">
        {% if page.badge %}
            <span class="meta badge">{{ page.badge }}</span>
        {% endif %}
        
        {{ content }}
    </div>
    
    {% if page.type == "book" %}
        <h2>Table of Contents</h2>
        <div class="posts">
        {% for book in site.data.books.library %}
            {% if book.title == page.title %}
                {% assign tree = book.chapters %}
                {% include tree.html param=book.path  %}
            
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
    
    {% if page.type == "chapter" %}
    
        {% for book in site.data.books.library %}
            {% for chapter in book.chapters %}
                {% if book.title == page.book and chapter.name == page.title %}
                    <h2>In this section</h2>
                    <div class="posts">

                        {% capture parent_path %}{{ book.path }}{{ chapter.path }}{% endcapture %}

                        {% assign tree = chapter.chapters %}
                        {% include tree.html param=parent_path %}

                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
    
    
    <script>
        document.write('<a class="backlink" href="' + document.referrer + '">&larr; Go Back</a>');
    </script>
</div> 